<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Has solicitado reiniciar tu constraseña <%= @email %></h1>
    <h1>
      Da click en el link abajo para ingresar tu nueva contraseña
    </h1>

     <h1>https://pseesapiauth.herokuapp.com/pass_change/<%= @id %>/<%= @token %></h1>

  </body>
</html>
