<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por crear una cuenta, <%= @email %></h1>
    <h1>
      Copia el link abajo para activar tu cuenta:
    </h1>

     <h1>https://pseesapiauth.herokuapp.com/email_verify/<%= @email %>/<%= @token %></h1>

  </body>
</html>
